---

---
<section class="partial" data-partial="components/horizontal-segments">

  {{#mixin "fragments/horizontal-segments/views"}}

    {{#content "views"}}

      {{{mixin "fragments/horizontal-segments/view" index="0"}}}
      {{{mixin "fragments/horizontal-segments/view" index="1"}}}
      {{{mixin "fragments/horizontal-segments/view" index="2"}}}
      {{{mixin "fragments/horizontal-segments/view" index="3"}}}
      {{{mixin "fragments/horizontal-segments/view" index="4"}}}
      {{{mixin "fragments/horizontal-segments/view" index="5"}}}
      {{{mixin "fragments/horizontal-segments/view" index="6"}}}
      {{{mixin "fragments/horizontal-segments/view" index="7"}}}

    {{/content}}

  {{/mixin}}

</div>
